rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all reads and writes.
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow public read-only access to schools and their subcollections.
    match /schools/{schoolId} {
      allow get, list: if true;

      match /meetingPages/{meetingPageId} {
        allow get, list: if true;

        match /downloadLinks/{downloadLinkId} {
          allow get, list: if true;
        }

        match /helpVideos/{helpVideoId} {
          allow get, list: if true;
        }

        match /testimonials/{testimonialId} {
          allow get, list: if true;
        }
      }
    }
  }
}
